@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
:root {
  --bg-main: #131722;
  --light-bg:#24baef;
  --main-color:#fff;
}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    background-color: white;
    color: var(--main-color);
    color: #131722;
}
input{
    /* background-color: transparent !important; */
    color: balck !important;
}
.brand{
  color: red;
  font-weight: 900;
  font-size: 2em;
  
}
.login:hover{
  color: #fff !important;
}
.h{
  height: 75vh;
}
a{
  text-decoration: none;
  color: #131722;
}
a:hover{
  text-decoration: none;
  color: #131722;
}
.hero{
  background-color: rebeccapurple;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.imge{
  width: 100%;
  height: 100vh;
 
}
.cte{
  color: white;
  margin-left: 100px;
}
.des{
top:30%
}
.list,ul{
  list-style: none;
}
.contact{
 height: 75vh;
}